<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add Client</title>
</head>

<body>
    <h1>Add Client</h1>

    <form action="" method="post">
        <label for="Document ID">Document ID</label>
        <input type="text" name="document_id" id="document_id">
        <label for="First Name">First Name</label>
        <input type="text" name="name" id="name">
        <label for="Last Name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <button type="submit">Save</button>
    </form>
    <a href="/clients">
        <button>
            Discard
        </button>
    </a>
</body>

</html>