<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Delete Client</title>
</head>

<body>
    <h1>Delete Client</h1>

    <p>Are you sure you want to delete this client from database?</p>

    <table>
        <tr>
            <th>Document ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <tr>
            <td>
                <%= client.values.document_id %>
            </td>
            <td>
                <%= client.values.name %>
            </td>
            <td>
                <%= client.values.last_name %>
            </td>
        </tr>
    </table>

    <form action="<% client.id %>" method="post">
        <button type="submit">Delete</button>
    </form>
    <a href="/clients">
        <button>Discard</button>
    </a>
</body>

</html>